<?xml version="1.0"?>
<data>
    <device>
        <key></key>
        <name></name>
        <theme></theme>
        <curuser></curuser>
    </device>
    <user>
        <id></id>
        <name></name>
    </user>
    <profiles>
        ...
        <profiles>
            <profile>
                <id></id>
                <name></name>
                <preset></preset>
                ...
            </profile>
        </profiles>
        ...
    </profiles>
    <pumps>
        ...
        <pump>
            <pump></pump>
            <name></name>
            <amount></amount>
        </pump>
        ...
    </pumps>
</data>
