<data>
    <device>
        <key>193101163196</key>
        <pin>549537</pin>
        <userid>1</userid>
        <userprofile>26</userprofile>
    </device>
    <user>
        <id>9</id>
        <name>Manfred</name>
    </user>
    <profile>
        <id>1</id>
        <name>Basic</name>
    </profile>
    <beverages>
        <beverage><name>Wasser</name><pumps><pump><containerID>2</containerID><name>Wasser</name><amount>200</amount></pump></pumps></beverage><beverage><name>O-Saft</name><pumps><pump><containerID>2</containerID><name>Wasser</name><amount>100</amount></pump><pump><containerID>4</containerID><name>O-Saft</name><amount>100</amount></pump></pumps></beverage><beverage><name>Eistee</name><pumps><pump><containerID>3</containerID><name>Eistee</name><amount>200</amount></pump></pumps></beverage><beverage><name>Cola</name><pumps><pump><containerID>1</containerID><name>Cola</name><amount>200</amount></pump></pumps></beverage></beverages>
    <pumps>
        </pumps>
</data>